.wrapper {
  padding-top: 40px;
  width: 1200px;
  margin: 0 auto;
  min-height: 600px;
  h1.title__title {
    font-weight: 600;
    font-size: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}